@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background-repeat: repeat-x;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #424244;
	line-height: 22px;
}

.topbox {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #dedede;
	margin:0 auto;
}

.top {
	width: 960px;
	height: 104px;
	margin: auto;
}

.top img {
	float: left;
}


/*#nav {
	height: 104px;
	background: #fff;
	float: right;
}

#nav ul {
	width: 480px;
	height: 104px;
	margin: 0px auto;
}

#nav li {
	float: left;
	height: 104px;
	list-style-type: none;
}

#nav a {
	float: left;
	position: relative;
	height: 104px;
	overflow: hidden;
	font-size: 14px;
	font-family: "微软雅黑", "宋体", "黑体";
	color: #787878;
	text-decoration: none;
	cursor: pointer;
}

#nav dl {
	float: left;
}

#nav span {
	float: left;
	padding: 0 20px;
	height: 104px;
	line-height: 150px;
	background: #fff;
	clear: both;
	white-space: nowrap;
}

#nav .active,#nav .current span {
	background: #ffbb02;
	color: #fff;
}

#nav .current .active {
	background: #ffa302;
	color: #fff;
}*/


#nav {height: 30px;float: right; margin-top:50px;}
#nav li{height:30px;line-height:30px; overflow:hidden; position:relative; text-align:center; margin-left:30px;float:left;font-size: 14px;color: #787878;}
#nav li a{ display:block; width:100%; position:relative; top:0;text-decoration:none;color: #787878;}
.active{ color:#ffa402;text-decoration:none}

#nav li:after{ position:absolute; left:0; right:0; bottom:0; width:0; height:1px; margin:0 auto; content:'';  background:#ffa402;-webkit-transition:width .3s ease;transition:width .3s ease;}
#nav li:hover:after{width:100%;}

.nav_on{color:#ffa402 !important;}

a:link{color:#7f7f7f; text-decoration:none;}
a:visited{color:#7f7f7f; text-decoration:none;}
a:hover{color:#e94709;text-decoration:underline;}
a:active{color:#e94709; text-decoration:underline;}